<div class="position-absolute button-menu">
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="4" y1="7" x2="26" y2="7" />
            <line x1="4" y1="15" x2="26" y2="15" />
            <line x1="4" y1="23" x2="26" y2="23" />
        </svg>
    </button>
</div>
<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">InfoQuest</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Descubre el asombroso universo de la ciencia: exploración, conocimiento y futuro en un solo lugar.
        </div>
        <div class="btn-group-vertical w-100 py-4" role="group" aria-label="Vertical button group">
            <button type="button" [routerLink]="'/'" class="btn btn-secondary" data-bs-toggle="offcanvas">Inicio</button>
            <button type="button" [routerLink]="'/blog'" class="btn btn-secondary" data-bs-toggle="offcanvas">Blog</button>
        </div>
    </div>
</div>