<app-sidebar></app-sidebar>
<section class="header">
    <div class="hero">
        <div class="overlay">
            <div class="container">
                <h1>Bienvenido a InfoQuest</h1>
                <p>Un lugar donde la ciencia y la información se encuentran.</p>
                <a href="#!" class="a-primary-dark text-decoration-none">
                    Explorar
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0 bg-image-title d-flex">
                <img [src]="imageDay.hdurl" class="img-fluid image-title-text w-100" alt="Imagen del día">
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center p-5">
                <div>
                    <h6 class="text-secondary">Imagen Astronómica del día</h6>
                    <div class="w-50 border border-1 border-primary"></div>
                    <h1>{{imageDay.title}}</h1>
                    <h6 class="fst-italic text-secondary">{{imageDay.date | date }} | author: {{imageDay.copyright}}</h6>
                    <p style="text-align: justify;">{{imageDay.explanation}}</p>
                    <button class="button-primary-light text-decoration-none">Saber más</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center p-5">
                <div>
                    <h6 class="text-secondary">Asteroides cercanos</h6>
                    <div class="w-50 border border-1 border-primary"></div>
                    <h1>{{asteroidNear.name}}</h1>
                    <h6 class="fst-italic text-secondary">{{today | date }} | Potencialmente peligroso: {{asteroidNear.is_potentially_hazardous_asteroid ? 'Sí' : 'No'}}</h6>
                    <p style="text-align: justify;">NeoWs (Near Earth Object Web Service) es un servicio web RESTful para obtener información sobre asteroides cercanos a la Tierra. Con NeoWs, un usuario puede: buscar asteroides en función de su fecha de aproximación más cercana a la Tierra, buscar un asteroide específico con su identificador de cuerpo pequeño del JPL de la NASA, así como explorar el conjunto de datos general.</p>
                    <a class="a-primary-light text-decoration-none" href={{asteroidNear.nasa_jpl_url}} target="_blank" rel="noopener noreferrer">Más información</a>
                </div>
            </div>
            <div class="col-md-6 p-0 d-flex bg-image-asteroid">
            </div>
        </div>
    </div>
</section>
