<section style="height: 0px;">
    <div class="container button-top" (click)="scrollToTop()" [class.show]="showButton">
        <input id="checkbox" type="checkbox">
        <label class="button" for="checkbox">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" d="M24 29.13V43.5m-4.51-14.37v9.77m15.1-9.77L24 4.5L13.41 29.13m15.1 0v9.77"></path></svg>
            </span>
        </label>
    </div>
</section>